<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.developersk.firebasemlkitdemo">

    <uses-permission android:name="android.permission.CAMERA" /> <!-- Allows applications to open network sockets. -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Allows applications to access information about networks. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FeedbackAtivity" />
        <activity android:name=".AboutusActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Authentication.PhoneAuthActivity" />
        <activity android:name=".Authentication.GoogleSignInActivity" />
        <activity android:name=".Authentication.EmailPasswordActivity" />
        <activity android:name=".Authentication.AuthenticationActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ScannerActivity" />
        <activity android:name=".CustomActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".TranslateActivity" />
        <activity android:name=".TextActivity" />
        <activity android:name=".SmartReplyActivity" />
        <activity android:name=".LanguageActivity" />
        <activity android:name=".LandmarkActivity" />
        <activity android:name=".ImageActivity" />
        <activity android:name=".BarcodeActivity" />
        <activity android:name=".AutoMLActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr, face, barcode, label" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>